@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 247 100% 68%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 247 100% 68%;
    --sidebar: 210 40% 96.1%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 228 20% 7%;
    --foreground: 210 40% 98%;
    --card: 223 30% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 223 30% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 247 100% 68%;
    --primary-foreground: 210 40% 98%;
    --secondary: 223 30% 15%;
    --secondary-foreground: 215 20.2% 65.1%;
    --muted: 221 28% 12%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 247 100% 68%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 221 26% 22%;
    --input: 221 26% 22%;
    --ring: 247 100% 68%;
    --sidebar: 221 28% 12%;
  }
}

@layer base {
  * {
    @apply border-border box-border;
  }
  body {
    @apply bg-background text-foreground h-screen overflow-hidden;
  }
}
